{% extends "base.html.twig" %}
{% block title %} SymVac - Accueil{% endblock %}
{% block body %}
        {% block header %}
        {% include "partials/_header.html.twig" %}
        {% endblock %}
<h1>Hello SymVac !</h1>
{% endblock %}